@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 32px;
    scroll-behavior: smooth;
    font-family: "Fuzzy Bubbles", sans-serif;
}
:root{
    --main-color: red;
    --text-color: black;
    --bg-color: white;
}
/* ScrollBar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: black;
}
/* một pseudo-element (giả phần tử) dùng để tùy chỉnh thanh cuộn (scrollbar) 
trên các trình duyệt sử dụng WebKit (như Chrome, Safari, Edge mới). */
/* Selector này áp dụng cho phần scrollbar của phần tử <html> (toàn bộ trang) */
html::-webkit-scrollbar-thumb{
    background: red;
}
/* Đây là pseudo-element dùng để tùy chỉnh phần "thumb" 
(phần di chuyển được của thanh cuộn, tức là cái nút bạn kéo lên/xuống) */


body{
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 5rem;
}
section{
    padding: 4.5rem 0 1.5rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
    /* background: var(--main-color); */
}
header.shadow{
    background: white;
}
header.shadow .bar a{
    color: black;
}
header.shadow .logo{
    color: black;
}
header.shadow .bx {
    color: black !important;
}
.logo{
    font-size: 17.6px;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.bar{
    display: flex;
    column-gap: 5rem;
}
.bar li{
    position: relative;
}
.bar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.bar a:hover{
    width: 100%;
    transition: 0.5s;
    color: var(--text-color);
}
#menu-icon{
    font-size: 24px;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 101;
    width: 30px;
    height: 30px;
}
.login{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.login:hover{
    background: var(--text-color);
    transition: 0.5s;
}
.container{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 800px;
    position: relative;
    background-color: rgba(2, 3, 7, 0.4);
}
.container img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 15px !important;
    background: var(--main-color) !important;
}
.home-text{
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 150px;
}
.home-text span{
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
}
.play .bx{
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    color: var(--main-color);
}
.heading{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}
.movies-container{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img{
    width: 100%;
    height: 250px;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.25;
}
.box h3{
    font-size: 1rem;
    font-weight: 500;
    font-style: bold;
    padding-top: 0.5rem;
}
.box span{
    font-size: 13px;
}
.coming-container{
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.coming-container .box img img:hover{
    transform: translateY(0);
}
.coming-container .box{
    width: 100px;
}
.news{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.news h2{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.news form{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.news form input{
    border: none;
    outline: none;
}
.news form input.email{
    width: 280px;
}

.news .btn{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    color: var(--main-color);
    background: none;
}
.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .bx{
    padding: 2px;
    border-radius: 50%;
    font-size: 2rem;
    background: var(--bg-color);
    color: black;
}
.social .bx:hover{
    background: var(--main-color);
    color: white;
    transition: 0.2s;
}
.copyright{
    padding: 20px;
    text-align: center;
}
@media (max-width: 1024px){
    .home-text{
        padding: 0 100px; /* padding: top bottom 0px left right 100px */
    }
}
@media (max-width: 768px){
    .home-text{
        padding: 12px 4%;
    }
    #menu-icon {
        display: initial;
        color: var(--bg-color);
    }
    header.shadow #menu-icon{
        color: black;
    }
    .bar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        row-gap: 1.4rem;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
        /* box-shadow: trục ngang X, trục dọc Y độ mờ, màu sắc bóng */
        text-align: center;
        transition: 0.2s;
    }
    .bar a{
        width: 100%;
        color: var(--text-color);
    }
    .bar a:hover{
        color: var(--main-color);
    }
    .bar.active{
        top: 100%;
    }
    .home-text h1 {
        font-size: 2.4rem;
    }
    .btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }
}


